.about {
  margin: 0 150px;
  padding: 30px 0 -30px 0;
  border: 1px solid black;  /* remove */
}

.about-section {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 80px;
}

.education {
  grid-template-columns: repeat(2, 1fr);
}
.education .card {
  padding-top: 30px;
}
.my-pic {
  text-align: center;
}
.my-pic img {
  height: 70vh;
  width: auto;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.300);
}