.services {
  margin: 0 150px;
  border: 1px solid black;  /* remove */
}

.my-services {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}